<header>
  <h1>This is the header</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (isAuthenticated) { %>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
      <% } %>
      <li><a href="/createaccount">Create Account</a></li>
    </ul>
  </nav>
</header>
