<header>
  <div class="main">
  <div class="logo"></div>
  <nav>
    <a href="/">About</a>
    <a href="/services">Services</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
  </div>
  <div id="slideshow">
    <% imageList.forEach(function(image, index) { %>
      <div class="slide <%= index === 0 ? 'active' : '' %>" style="background-image: url('<%= image %>');"></div>
    <% }); %>
    <div class="shader">  </div>
    <% if (isAuthenticated) { %>
      <label class="welcome-label">Welcome</label>
    <% } else { %>
      <button class="partner-button">Become a Partner</button>
    <% } %>
  </div>
</header>
<script type="module" src="/scripts/dynamicFields.js"></script>
